
# {{ ansible_managed }}

###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines
define hostgroup{
        hostgroup_name  helloworld ; The name of the hostgroup
        alias           Tomcat Servers ; Long name of the group
	members         ip-172-16-2-49 ;
        }

###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Defin t for the local machine
{% for host in groups.helloworld %}
define host{
        use                     linux-server            ; Name of host template to use
        host_name               ip-172-16-2-49
        alias                   {{ host }}
        address                 {{ host }}
        }
{% endfor %}


###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49
        service_description             PING
        check_command			check_ping!100.0,20%!500.0,60%
        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49
        service_description             Root Partition
        check_command			check_local_disk!20%!10%!/
        }


# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49
        service_description             Current Users
        check_command			check_local_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49 
        service_description             Total Processes
        check_command			check_local_procs!250!400!RSZDT
        }



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49
        service_description             Current Load
        check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }

# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49
        service_description             Swap Usage
        check_command			check_local_swap!20!10
        }


# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49
        service_description             SSH
        check_command			check_ssh
	notifications_enabled		0
        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       ip-172-16-2-49
        service_description             HTTP
        check_command			check_http 
        notifications_enabled		0
        }

###
# Monitoring Individual URLs...
#
###
define service{
        host_name                       ip-172-16-2-49      
        service_description             HTTP http://HOSTADDRESS:PORT/HelloWorld 
        check_command                   check_http_url
        max_check_attempts              5
        check_interval                  0.50
        retry_interval                  0.50
        notifications_enabled           1
        check_period			24x7
}
define command{
        command_name    check_http_url
        command_line    /usr/lib64/nagios/plugins/check_http -H $HOSTADDRESS$ -p {{ http_port }} -u /helloworld
      }
