--- 
 - debug:
    msg: "System {{ inventory_hostname }} has OS {{ ansible_distribution }}"
 - name: standard install additional packages 
   become: yes
   yum: pkg={{ item }} 
        state=present 
        update_cache=yes
   with_items: 
     - git
     - tar
     - java-1.8.0-openjdk
     - libselinux-python
     - libsemanage-python
     - firewalld
   when: ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat'

# - name: update packages 
#   become: yes
#   yum: 
#        name='*'
#        state=latest 
#        update_cache=yes
 - name: remove additional packages 
   become: yes
   yum: pkg={{ item }} 
        state=removed
        update_cache=yes
   with_items: 
     - java-1.7.0-openjdk
   when: ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat'
 - name: Start firewalld
   become: yes
   service: name=firewalld state=started enabled=yes
